<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.itbarx"
          xmlns:android="http://schemas.android.com/apk/res/android"

          android:installLocation="preferExternal"
          android:versionCode="1"
          android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name="com.itbarx.application.ItbarxGlobal"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.itbarx.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.itbarx.activity.CreateNewAccountActivity"
            >
        </activity>

        <activity
            android:name="com.itbarx.activity.EditProfileActivity"
            >
        </activity>

        <activity
            android:name="com.itbarx.activity.ForgotPasswordActivity"
            >
        </activity>

        <activity
            android:name="com.itbarx.activity.NewUserDoneActivity"
            >
        </activity>


        <!-- TAB AND TAB ACTIVITIES-->
        <activity android:name="com.itbarx.activity.TabContainer">
        </activity>
        <activity
            android:name="com.itbarx.activity.T_HomeActivity"></activity>
        <activity
        android:name="com.itbarx.activity.T_SecondActivity"></activity>
        <activity
            android:name="com.itbarx.activity.T_RecordActivity"></activity>


    </application>

</manifest>
